.main-settings {
  margin: 0 30px;
}

.logout-btn {
  border: none;
  background-color: #444;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px 0;
}

.logout-btn:hover {
  background-color: #777;
  cursor: pointer;
}
